<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mim.mimmyanengdic" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MIM အဘိဓာန္"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="MIM အဘိဓာန္" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name=".MainSearch"
            android:label="MIM အဘိဓာန္">
		</activity>
    </application>

</manifest>
